<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <%- include layout/head %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Register</div>
            </div>
            <% if (data && data.error) { %>
            <div id="signupalert" style="display:none" class="alert alert-danger">
                <p>Error:</p>
                <span><%= data.error %></span>
            </div>
            <% } %>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form" method="post" action="/register">
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email:</label>
                        <div class="col-md-9 ">
                            <input type="email" class="form-control email" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fullname" class="col-md-3 control-label">Fullname:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control fullname" name="fullname" placeholder="Fullname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">Password:</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Re-Type:</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control repassword" name="repassword" placeholder="Re-type password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="g-recaptcha" data-sitekey="6Lc4GSUUAAAAACY8_1G3-ACb7cXg9YvcW7pMSmsd"></div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btn-signup" type="submit" class="btn btn-info" value="Sign Up" /><i class="icon-hand-right"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        // $('#signupform').submit(function() {
        //     $(this).ajaxSubmit({
        //         error: function(xhr) {
        //             status('Error: ' + xhr.status);
        //         },
        //         success: function(response) {
        //             console.log(response);
        //             alert(response.responseDesc);
        //         }
        //     });
        //     //Very important line, it disable the page refresh.
        //     return false;
        // });

        // $("#btn-signup").click(function(e) {
        //     var data = {
        //         email: $(".email").val().trim(),
        //         fullname: $(".fullname").val().trim(),
        //         password: $(".password").val().trim(),
        //         repassword: $(".repassword").val().trim()
        //     }
        //     var base_url = location.protocol + "//" + document.domain + ":" + location.port;

        //     $.ajax({
		// 		url: base_url + '/register',
		// 		type: 'POST',
		// 		dataType: 'json',
		// 		data: {data: data},
		// 		success: function(res) {
		// 			if (res && res.status_code == 200) {
		// 				location.reload();
		// 			}
		// 		}
		// 	})
		// 	.fail(function() {
		// 		console.log("error");
		// 	})
		// 	.always(function() {
		// 		console.log("complete");
		// 	});

        //});
    });
</script>

</body>

</html>