#drop_zone {
    border: solid 1px gray;
    border-radius: 4px;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 10px;
}

.title-upload {
    text-align: center;
}

#list-item {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
}